$header-height: 10vh;
$sidenav-width: 15vw;
$main-width: 100vw - $sidenav-width - 5vw;
@media screen and (min-width: 767px) {


.header {
  width: $main-width;
  height: $header-height;
  margin-left: $sidenav-width;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  
  
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  // text-align: center;
  

}

.main {
    width: $main-width;
    margin-left: $sidenav-width; /* Same as the width of the sidenav */
    padding: 0% 1%;
    left: 0;
  }

  
  .sidenav {
    height: 100vh;
    width: $sidenav-width;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3%;
    // space elements by 10px

  }
}








  
  @media screen and (max-width: 767px) {
    $sidenav-height: 10vh;
    
    
    .header {
    height: $sidenav-height*1.05;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    }
    
    .main {
    position: absolute;
    top: $header-height*2.1;
    left: 0;
    width: 93%;
    padding: 0 20px;
    }
    
    .sidenav {
    width: 99%;
    height: $sidenav-height;
    z-index: 1;
    position: absolute;
    top: $sidenav-height;
    left: 0;
    background-color: #111;
    overflow-x: auto;
    white-space: nowrap;
    // padding: 10px 0;
    padding-top: 1%;
    padding-top: 1%;
    padding-left: 1%;
 
    }



    
    
    .sidenav a {
    display: inline-block;
    font-size: 2vw;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    }
    
    .sidenav a:hover {
    background-color: #555;
    }
    }