@media screen and (min-width: 767px) {
  $sidenav-width: 10vw;
  .sidenav {
    
    & > * {
      margin: $sidenav-width/10 0 $sidenav-width/10 $sidenav-width/10;
      }
  }
  
  .sidenav a {
    font-size: 1.5vw;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
}
  @media screen and (max-width: 767px) {
    .sidenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #f1f1f1;
    }
    
    .sidenav a {
    font-size: 1vw;
    padding: 6px;
    text-decoration: none;
    color: #818181;
    display: block;
    }
    
    .sidenav a:hover {
    color: #f1f1f1;
    }
    }